<div class="row mb-3">
    <div class="col-12 col-md-12">
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Highest Qualification
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div ngbDropdown>
                    <button class="btn btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Select Qualification</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">High School/10th Pass</button>
                        <button class="dropdown-item">Higher Secondary/12th Pass</button>
                        <button class="dropdown-item">Graduation</button>
                        <button class="dropdown-item">Post Graduation</button>
                        <button class="dropdown-item">Uneducated</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Degree Achieved
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Mention the highest degree achieved. e.g.MBBS" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Additional Qualification
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="datepicker-container">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Mention any other qualification(if any)" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Occupation
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div ngbDropdown>
                    <button class="btn btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Select Occupation</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">Software Engineer</button>
                        <button class="dropdown-item">Doctor</button>
                        <button class="dropdown-item">Bank Manager</button>
                        <button class="dropdown-item">Teacher</button>
                        <button class="dropdown-item">Farmer</button>
                        <button class="dropdown-item">Laborer</button>
                        <button class="dropdown-item">Other</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Employment Type
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div ngbDropdown>
                    <button class="btn btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Select Type</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">Government</button>
                        <button class="dropdown-item">Semi Government</button>
                        <button class="dropdown-item">Private</button>
                        <button class="dropdown-item">Business</button>
                        <button class="dropdown-item">Defence</button>
                        <button class="dropdown-item">Self Employed</button>
                        <button class="dropdown-item">Unemployed</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Occupation Details
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="datepicker-container">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Mention your designation(if applicable)" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Yearly Income
                </label>
            </div>
            <div class="col-12 col-md-4">
                <div class="input-group">
                    <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">INR</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="offset-md-6 col-12 col-md-2">
                <button class="btn btn-block btn-round btn-simple btn-primary">Cancel</button>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-block btn-round btn-simple btn-primary">Save</button>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-block btn-round btn-primary">Save and Next</button>
            </div>
        </div>
    </div>
</div>
