<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            Address
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Write something about yourself..."></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            City/District
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <input type="text" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            State
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <input type="text" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            Country
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <input type="text" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            Citizenship
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <input type="text" class="form-control" />
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="offset-md-6 col-12 col-md-2">
        <button class="btn btn-block btn-round btn-simple btn-primary">Cancel</button>
    </div>
    <div class="col-12 col-md-2">
        <button class="btn btn-block btn-round btn-simple btn-primary">Save</button>
    </div>
    <div class="col-12 col-md-2">
        <button class="btn btn-block btn-round btn-primary">Save and Next</button>
    </div>
</div>
