<div class="row mb-3">
    <div class="col-12 col-md-3">
        <div ngbDropdown>
            <button class="btn btn-block btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Profile Created For</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Self</button>
                <button class="dropdown-item">Son</button>
                <button class="dropdown-item">Daughter</button>
                <button class="dropdown-item">Sister</button>
                <button class="dropdown-item">Brother</button>
                <button class="dropdown-item">Friend</button>
                <button class="dropdown-item">Other</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div ngbDropdown>
            <button class="btn btn-block btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Marital Status</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Unmarried</button>
                <button class="dropdown-item">Divorced</button>
                <button class="dropdown-item">Separated</button>
                <button class="dropdown-item">Widow/Widower</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div ngbDropdown>
            <button class="btn btn-block btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Mother Tongue</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Hindi</button>
                <button class="dropdown-item">English</button>
                <button class="dropdown-item">Marathi</button>
                <button class="dropdown-item">Gujrati</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div ngbDropdown>
            <button class="btn btn-block btn-primary btn-simple btn-round" id="dropdownBasic1" ngbDropdownToggle>Subcaste</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kadva Patidar</button>
                <button class="dropdown-item">Leva Patidar</button>
                <button class="dropdown-item">Nimadi</button>
                <button class="dropdown-item">Other</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    First Name
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Enter First Name" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Last Name
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Enter Last Name" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Date Of Birth
                </label>
            </div>
            <div class="col-12 col-md-3">
                <div class="datepicker-container">
                    <div class="form-group">
                        <input [readonly]="true" class="form-control datetimepicker" placeholder="06/07/2017" name="dp" ngbDatepicker #d="ngbDatepicker"
                            (click)="d.toggle()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Gender
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Male
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Female
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Physical Status
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Normal
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Handicapped
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Complexion
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Very Fair
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Fair
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Wheatish
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Wheatish Brown
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Dark
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Body Type
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Slim
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Athletic
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Average
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Heavy
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Eating Habits
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Vegetarian
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Non Vegetarian
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Eggetarian
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Vegan
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Smoking Habits
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> None
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Light/Social
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Regular
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Drinking Habits
                </label>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> None
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Light/Social
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Regular
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Weight
                </label>
            </div>
            <div class="col-12 col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">KG</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Height
                </label>
            </div>
            <div class="col-6 col-md-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Feet</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Inch</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Languages Known
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    About Me
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Write something about yourself..."></textarea>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="offset-md-6 col-12 col-md-2">
                <button class="btn btn-block btn-round btn-simple btn-primary">Cancel</button>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-block btn-round btn-simple btn-primary">Save</button>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-block btn-round btn-primary">Save and Next</button>
            </div>
        </div>
    </div>
</div>
