<div class="row">
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-12 col-md-12">
                        <img height="100" width="100" src="assets/img/avatar.jpg" alt="..." class="rounded-circle">
                    </div>
                </div>
                <h5 class="card-title text-center">Profile Picture</h5>
                <p class="card-text">
                    This is the main picture which will be visible on your profile to you and other users.
                </p>
                <div class="row text-center">
                    <div class="col-12 col-md-12">
                        <input style="cursor:pointer;display:none" type="file" name="" id="file">
                        <div class="form-group center">
                            <label class="btn btn-simple btn-primary btn-round" for="file">Upload Image</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Additional Picture</h5>
                <p class="card-text">
                    You can upload at max four images in this section. These images will be displayed on your profile as photo gallery.
                </p>
                <div class="row">
                    <div class="col-6 col-md-3 mb-2 text-center">
                        <img height="100" width="100" src="assets/img/avatar.jpg" alt="Avatar" class="rounded-circle">
                        <button type="button" class="btn btn-neutral">
                            <strong>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </strong>
                        </button>
                    </div>
                    <div class="col-6 col-md-3 mb-2 text-center">
                        <img height="100" width="100" src="assets/img/avatar.jpg" alt="Avatar" class="rounded-circle">
                        <button type="button" class="btn btn-neutral">
                            <strong>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </strong>
                        </button>
                    </div>
                    <div class="col-6 col-md-3 mb-2 text-center">
                        <img height="100" width="100" src="assets/img/avatar.jpg" alt="Avatar" class="rounded-circle">
                        <button type="button" class="btn btn-neutral">
                            <strong>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </strong>
                        </button>
                    </div>
                    <div class="col-6 col-md-3 mb-2 text-center">
                        <img height="100" width="100" src="assets/img/avatar.jpg" alt="Avatar" class="rounded-circle">
                        <button type="button" class="btn btn-neutral">
                            <strong>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </strong>
                        </button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 col-md-12">
                        <input style="cursor:pointer;display:none" type="file" name="" id="file">
                        <div class="form-group center">
                            <label class="btn btn-simple btn-primary btn-round" for="file">Upload Image</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
