<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            Registered Phone Number
        </label>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <span class="text-muted h4">
                +919806118907
                <span class="badge badge-success">Verified</span>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <label class="form-check-label text-primary ml-2 mr-2 pt-2">
            New Phone Number
        </label>
    </div>
    <div class="col-12 col-md-5">
        <div class="form-group">
            <input type="text" value="" placeholder="Enter New Phone Number" class="form-control" />
        </div>
    </div>
</div>
