<div class="row">
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Hobbies
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Mention things you like to do, e.g. Dancing" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Interests
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Mention things you are interested in, e.g. Politics,Share market etc." class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Music
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Mention the type of music you love, genres or any specific song" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <label class="form-check-label text-primary ml-2 mr-2 pt-2">
                    Food
                </label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input type="text" value="" placeholder="Mention the type or name of food you love to eat" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="offset-md-6 col-12 col-md-2">
                <button class="btn btn-block btn-round btn-simple btn-primary">Cancel</button>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-block btn-round btn-simple btn-primary">Save</button>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-block btn-round btn-primary">Save and Next</button>
            </div>
        </div>
    </div>
</div>
